@{
    ViewData["Title"] = "Reset Password";
}
<h2>Reset Password</h2>
<form method="post" asp-action="ResetPassword" asp-controller="Account">
    <input type="hidden" name="token" value="@ViewBag.Token" />
    <div class="form-group">
        <label for="password">New Password</label>
        <input type="password" name="password" id="password" class="form-control" />
    </div>
    <div class="form-group mt-3 captcha-container">
        <img src="@Url.Action("Image", "Captcha")?t=@ViewBag.CaptchaToken" class="captcha-img" alt="captcha" />
        <input type="text" name="captcha" class="form-control mt-1" placeholder="Enter code" />
    </div>
    <button type="submit" class="btn btn-primary mt-2">Reset</button>
</form>
<script>
    document.querySelector('.captcha-img').addEventListener('click', function () {
        this.src = '@Url.Action("Image", "Captcha")?t=' + Date.now();
    });
</script>
