@model MyWebApp.Models.DownloadFile
@{
    ViewData["Title"] = "Add File";
    Layout = "../Admin/_AdminLayout";
}
<h2>Add File</h2>
<form method="post" enctype="multipart/form-data">
    <div>
        <label>File Name</label>
        <input asp-for="FileName" />
    </div>
    <div>
        <label>Upload</label>
        <input type="file" name="upload" />
    </div>
    <div>
        <label>Description</label>
        <textarea asp-for="Description"></textarea>
    </div>
    <button type="submit">Save</button>
</form>
