@model MyWebApp.Models.DownloadFile
@{
    ViewData["Title"] = "Edit File";
    Layout = "../Admin/_AdminLayout";
}
<h2>Edit File</h2>
<form method="post">
    <input type="hidden" asp-for="Id" />
    <div>
        <label>File Name</label>
        <input asp-for="FileName" />
    </div>
    <div>
        <label>Description</label>
        <input asp-for="Description" />
    </div>
    <button type="submit">Save</button>
</form>
