<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Screen Area Recorder Pro</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header class="site-header">
        <div class="container-fluid nav-container">
            <a class="logo" asp-area="" asp-controller="Home" asp-action="Index">Screen Area Recorder Pro</a>
            <nav class="site-nav">
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <a asp-area="" asp-controller="Home" asp-action="Faq">FAQ</a>
                <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </nav>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="site-footer">
        <div class="container">
            &copy; 2025 - Screen Area Recorder Pro
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
