@{
    ViewData["Title"] = "Import";
}

<h1>Import Data</h1>

<p>Run the following commands from the <code>website/MyWebApp</code> directory to create or update the database schema and import data:</p>

<pre><code>dotnet ef database update
sqlcmd -S <server> -d <database> -i update.sql
</code></pre>

<p>The <code>update.sql</code> file can be generated using <code>dotnet ef migrations script &gt; update.sql</code>.</p>

